*
{
  margin: 0;
  padding: 0;
  }
  body{
    box-sizing:content-box;
    background: url(../imagenes/mar-bici.jpeg) ;
    background-color:transparent;
   font-family: sans-serif;
    background-size: cover;
    background-position: center center;
    background-repeat: cover;

     margin-top: 150px;

  }

.Login-bici {
  width: 350px;
  height: 450px;
  background: white;
  color: #fff;
  top:50%;
  left: 20%;
  position: absolute;
  transform: translate(-60%, -50%);
  box-sizing: border-box;
  padding: 70PX 30PX;
  margin-left: 5%;
  background: #FEF5E7 ;
}

.Login-bici .avatar {
width: 100px;
height: 100px;
border-radius: 50%;
position: absolute;
top: -50px;
left: calc(50% -50px);
}

.Login-bici h1{
  margin: 0;
  padding: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 26px;
  color: #FF8A33;
  font-weight: bold;

}
.Login-bici label{
  margin: 0;
  padding: 0;
font-weight: bold;
display:flow-root;
color: black;
}

.Login-bici input {

width: 250px;
  margin-bottom: 20px;
}

.Login-bici input[type="email"],
.Login-bici input[type="password"]{

  /*border-bottom: 1px solid #1f53c5;
  background: transparent;
  outline: none;
  height: 20px;
  color: black;
  display: flex;
  border: 1px solid #1f53c5;
  font-size:  18px;
  font-family: 'calibi';
  border-radius: 4px;
  margin-bottom: 16px;
  border-color: blue;*/


  width: 100%;
  background:#24303c;
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibi';
  font-size: 16px;
  background: transparent;
  display: flex;
    color: black;
}


.Login-bici input[type="submit"]:hover
{
  background-color:  #FF8A33;
}

.Login-bici input[type="submit"]{
  border: none;
  outline: none;
  height: 40px;
  background: #33A5FF;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  font-family: 'calibi';
}
.Login-bici a{
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;

}
.Login-bici a:hover{
  color: red;
}
