*{
  margin: 0;
  padding: 0;
}
body{
	/*background-color:#FDEDEC ;*/
}

.contenidop{

	margin: 5%;
}
header{
  height: 5%;
  position: fixed;
  width: 100%;
  z-index: 5;
  background-color: pink;
}

footer{
  height: 3%;
  clear: both;
  padding-top: 30%;
  padding-bottom: 2%;
  color: black;
  text-decoration: none;

}
footer{
  margin-left: 0.9%;
}

body{


}
.carrucel{
padding-top: 2%;

}
.navbar-brand
{
    font-family: 'calibi';
  text-transform:capitalize;
  color: black;
}

.navbar{
  background:#D5E3E3;

}

/*index*/
main {
  background: white;
  width: 100%;
  margin-bottom: 1%;
  margin-top: 1;
    font-family: 'calibi';
font-size: 20px;
text-emphasis-style: circle;
}


.UNO aside img {
 width: 250px;
  height: 200px;
  margin-bottom: 1%;
}
p {
text-align:center;
padding-bottom: -0.9%;
}
ol{
  text-align:center;
}
header img{
  border-radius: 50%;
}


/*rutas*/
h1{
  text-align: center;
  font-size: 40px;
  font-family: 'calibi';
  margin-bottom: -0,60%;
  padding: 5%;

}
 main aside{
background:#E8F8F5  ;
float: left;
width: 14%;
padding: 10px;
margin-top: 15% 15% 15% 15%;
margin-left: 2.5%;
border-radius: 10px 10px 10px 10px ;
-moz-border-radius: 10px 10px 10px 10px;
-webrit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;
margin-bottom: 2%;
}

.rut aside img {
  width: 250px;
   height: 200px;
   margin-bottom: 1%;
}



{
  font-family: 'calibi';
  margin: center;
  text-decoration-style: solid;
  text-align:right;
  color: red;

}


/*acerca de*/
.avatar {
width: 200px;
height: 200px;
border-radius: 90%;
position:relative;
/*top: -50px;
margin-right: 40%;
margin-left:45%;*/
display: block;
margin: auto;
left: calc(80% -50px);
margin-top: -3%;
margin-bottom: 1.5%;
}
.acerca h1{
  text-align: center;
  text-decoration:inherit;
  padding-bottom: -20%;
  font-family: 'calibi';

}
.ados{
	background:;
	width: 100%;
	height: 25%;
	padding-bottom: 35%;
	margin-bottom: 1%;
	margin-top: 1%;
}
.acercade aside{
	background-color:white;
	float:left;
	width: 32%;
  height: 50%;
	padding: 1%;
	margin-top: 3%;
	margin-left: 0.9%;
	border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border:1px solid #000000;
border-color:black;
}
.acercade aside h2{
	color: black;
	text-align: center;
}
.acercade  aside img{
	margin-top: 5px;
}

}
.acercade h1{
	padding: 1%;
  margin-bottom:-0.90%;
}
.acercade h2{
	color: blue;
}
.auno{
	background:white;
	width: 100%;
	height: 25%;
	margin-bottom: 1%;

}
.auno h1{
	padding-bottom: 2%;
}
.tres{
	background-color: white;
	width: 100%;
	padding: 5%;


}
.tres h1{
margin-top:-7%;
margin-bottom: 1%;
}
.tres p{
  margin-top: -3%;
  margin-bottom: 3%;
}
/*Politicas*/
.politicas h1, h2, h4{
text-align: center;
}
.politicas h1{
margin-top: -0.1%;
margin-bottom: -4.5%;
}
.politicas h4{
  margin-top: 1%;
}
