body{
  margin: 0%;
  padding: 0%;
background: #DBEFEF;
}

.filtro
{

  width: 100%;
  height: 100%;
text-align: center;
  margin-bottom: 15%;
  margin-top: 2%;
}
.u
{
  margin-left: 2.5%;
}
.usuarios{
  width: 100%;
  height: 100%;
  margin-top: -1%;
  text-align: center;
}
.container{
  margin-top: 6%;
  margin-left: 4%;
}
.ta{
  margin-top: 6%;
  margin-left: 4%;
}
th {
  column-rule: black solid 2px;
    columns: 2;
    text-align: justify;

}
