*{
  margin: 0;
  padding: 0;}
  body{
  box-sizing: border-box;
  background: url(../imagenes/mar-bici.jpeg) ;
  background-color:transparent;
   font-family: sans-serif;
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   position:inherit;


  }
  .navbar-brand
  {
      font-family: 'calibi';
    text-transform:capitalize;
    color: black;
  }

  .navbar{
    background:#D5E3E3;

  }
.registro{
  width: 380px;
  height: 60%;
  background: white;
  padding: 30px;
  margin-top: 150px;
  border-radius: 4px;
  font-family:'calibi';
  color: red;
  margin-left: 10%;

}
.registro .avatar {
width: 100px;
height: 100px;
border-radius: 50%;
position: absolute;
top: 16%;
left: calc(50% -50px);
}
.registro h4{
  font-size:24px;
  margin-bottom: 20px;
  color: #FF8A33;
  background: white;
  text-align: center;
}

.controls{
  width: 100%;
  background:#24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibi';
  font-size: 18px;
  background: transparent;
  display: flex;
    color: black;



}
.registro label{
  margin: 0;
  padding: 0;
font-weight: bold;
display:flow-root;
color: black;
margin-bottom: 1%;
}

.registro  input[type="submit"]{
width: 90%;
background:  #33A5FF;
border: none;
padding: 12px;
color:#fff;
margin: 16px;
font-size: 18px;
border-radius: 20px;
outline: none;
font-family: 'calibi';



}
.registro input[type="submit"]:hover
{
  background-color:  #FF8A33;
}
.registro a{
  color: black;
  text-decoration: none;
  height: 40px;
  text-align: center;
  font-size: 18px;
  background: white;
  line-height: 20px;
  color: darkgrey
}
.registro a:hover{
  color: red;
  text-decoration: underline;
}
